.layout{
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
   
background-image: url('../images/white-brick-wall.jpg');
background-color: rgba(9, 8, 77, 0.74);
  background-size: cover;
}