.messages{ 
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgba(253, 255, 255, 0.233);
    border-left: 2px solid rgba(83, 81, 81, 0.637);}