.wrapper{
    display: block;
    padding: 50px;
    background: linear-gradient(0deg, rgba(108,141,144,0.42) 0%, rgb(227 227 227) 99%);
    border-radius: 0.5rem;
    width: 30vw;
    box-shadow: 0px 0px 24px -1px rgb(145 145 145 / 57%);
}